/*
     Plugin PostGuestEditor
	 Version  : 2.0.2 (2007/01/16)
	 Compatibility : Guppy v4.5.x
	 Licence  : GNU Lesser General Public License
	 Author   : jérôme CROUX (Djchouix)
     Web site : http://lebrikabrak.info/
     E-mail   : jchouix@wanadoo.fr
     
      v4.6.11 (xx november 2009)    : changed width, added margin (by Icare)
*/

/**
 *  CSS pour corriger la mauvaise interprétation de l'overflow sur le block <pre> lorsque la largeur est en pixel
 * (pas nécessaire pour Opera)
 */
div.code, div.code pre {
	width:570px;
	margin: 8px auto;
}
