/*
     MinieditorTextarea réalisé par Djchouix - Licence CeCILL
     Web site = http://lebrikabrak.free.fr/
     e-mail   = lebrikabrak@free.fr
	 version 1.6.3 (24 février 2007) compatibilité avec guppy v4.5.x
*/
body {
 	font-size:12pt;
 	font-family:"Times New Roman" , Arial, sans-serif;
	margin:0px;
 	padding:0px;
}

form {
	margin:0px;
}

div input select{
	vertical-align:middle;
}

div.titre {
	text-align:center;
	font-weight:bold;
	font-size:medium;
	padding:10px 0px;
}

div.corps0 {
	padding-top:15px;
	text-align:right;
	float:left;
	width:265px;
}

div.corpsURL , div.corpsAlt, div.corpsTag{
	padding-bottom:10px;
}

div.corps1 {
	padding-top:14px;
	text-align:right;
	padding-right:20px;
}

div.corps2 {
	padding-top:10px;
	text-align:right;
	float:left;
	width:265px;
}

div.corps3 {
	padding-top:10px;
	text-align:right;
	padding-right:20px;
}

.zoneUrl {
	margin-left:5px;
	width:200px;
}

#browserver {
	width:150px;
	font-size:10pt;
	cursor:pointer;
}

select.target {
	cursor:pointer;
	margin-left:5px;
}

div.corpsPropriete1 {
	clear:left;
	padding-top:10px;
	text-align:right;
	float:left;
	width:180px;
}

div.corpsPropriete2 {
	padding-top:10px;
	text-align:right;
	padding-right:40px;
}

.zoneTag{
	margin-left:5px;
	width:30px;
}

.zoneTagIdClass{
	margin-left:5px;
	width:65px;
}

select.scale {
	width:100px;
}

#linkOK {
	width:70px;
	font-size:10pt;
	cursor:pointer;
}

#linkCancel {
	margin-left:10px;
	width:70px;
	font-size:10pt;
	cursor:pointer;
}

body.entities table {
	border-collapse:collapse;
	margin:0 !important;
	margin-top:2px;
}

body.entities table td.entity {
	cursor:pointer;
	padding:2px 3px;
	width:15px;
	height:15px;
	text-align:center;
	border:1px solid #000000;
}

body.entities table td.hover {
	cursor:pointer;
	padding:2px 3px;
	width:15px;
	height:15px;
	text-align:center;
	border:1px solid #000000;
	background-color:#FFFFFF;
	color:red;
}